body {
    background-color:aquamarine;
    margin: 0
}
nav {
    background-color:aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    text-decoration: none;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: bisque;
}

.text{
    text-align: center;
    margin: 20px;
    border: 1px black solid;
    background-color: blanchedalmond;
}

.text p{
    margin: 10px;
}

footer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: bisque;
}

footer div{
    margin: 0;
}

footer div p{
    margin: 5px;
}

.movies-list{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    text-align: center;   
    background-color: blanchedalmond;
}

.movies-list img{
    width: 200px;
    height: 200px;
}

table{
    border: black solid 1px;
    margin: 30px;
}

table th{
    border:black solid 1px;
}
table td {
    border: black solid 1px;
}

.robert {
    width: 300px;
    height: 300px; 
}