<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
    <div class="title">
        <h1>Robert Downey Junior</h1>
        <img class="robert" src='/Images/Teste.jpg' alt="Robert Downey Junior"/>
    </div>
    <div>
        <p>
            Robert Downey Junior was born on April, 4, 1965 in New York City. He had started his career in the 80s, in which your first appeareance in 1983, on It's you, as Baby. 
            In the same decade, he became a regular cast member of Saturday Night Live, a popular Sketch-Comedy program. 
        </p>
        <h4> <b>Bibliografy: https://www.biography.com/actor/robert-downey-jr</b></h4>
    </div>
    <footer>
        <div>
            <p>Follow Arthur Bezerra de Melo</p>
            <div class="icons"> 
                <a href="https://www.instagram.com/arthur.melo95/">Instagram</a>
                <a href="https://m.facebook.com/arthur.melo.12">Facebook</a>
                <a href="https://www.linkedin.com/in/arthur-melo-717526146/">Linkedin</a>
                <a href="https://github.com/arthurmelo10">GitHub</a>
            </div>
        </div>
    </footer>
</body>
</html>