<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
    <div class="title">
        <h1>Robert Downey Junior</h1>
        <img class="robert" src='/Images/Teste.jpg' alt="Robert Downey Junior"/>
    </div>
    <div class="text">
        <p>
            Robert Downey Junior was born on April, 4, 1965 in New York City. He had started his career in the 80s, in which your first appeareance in 1983, on It's you, as Baby. 
            In the same decade, he became a regular cast member of Saturday Night Live, a popular Sketch-Comedy program. 
            During the 90s, Robert had suffered some serious problems with drugs, when it was necessary some rehabilitation. Inspite of that, his carreer goes on with more roles and movies, for instance Chaplin, in 1992.
            In terms of personal life, Robert almost get into in a rollercoast, with lots of ups and downs, which contains since marrieges until a period of twelve months in prison and some time for a new rehab time.
            in the 2000s, Robert started one of their great works, as Tony Stark, in the MCU, in other words, the superhero IronMan, one of the beloved heroes in the marvels movies.
            Today, Robert is one of the most decorate actors, with lots of prizes, mainly related with your role in the Avengers Saga, and considered one of Hollywood's A-list actors.  
        </p>
        <h4><b> <a href="https://www.biography.com/actor/robert-downey-jr">Bibliografy: https://www.biography.com/actor/robert-downey-jr</b></a></h4>
    </div>
    <footer>
        <div>
            <p>Follow Arthur Bezerra de Melo</p>
            <div class="icons"> 
                <a href="https://www.instagram.com/arthur.melo95/">Instagram</a>
                <a href="https://m.facebook.com/arthur.melo.12">Facebook</a>
                <a href="https://www.linkedin.com/in/arthur-melo-717526146/">Linkedin</a>
                <a href="https://github.com/arthurmelo10">GitHub</a>
            </div>
        </div>
    </footer>
</body>
</html>