<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
</head>

<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
    <h1>The main works made by Robert:</h1>
    <div class="movies-list">
        <li>IronMan</li>
        <li>Sherlock Holmes</li>
        <li>Doctor doLittle</li>
    </div>
    <footer>
        <div>
            <p>Follow Arthur Bezerra de Melo</p>
            <div class="icons"> 
                <a href="https://www.instagram.com/arthur.melo95/">Instagram</a>
                <a href="https://m.facebook.com/arthur.melo.12">Facebook</a>
                <a href="https://www.linkedin.com/in/arthur-melo-717526146/">Linkedin</a>
                <a href="https://github.com/arthurmelo10">GitHub</a>
            </div>
        </div>
    </footer>
</body>

</html>